@media (max-width: 1330px) {
    .main {
        .items {
            &__list {
                grid-template-columns: repeat(5, 195px);

                &-item {
                    padding: 12px;
                }
            }
        }
    }
}

@media (max-width: 1245px) {
    .main {
        .filters__wrapper {
            padding: 0px;
            width: 200px;
        }

        .items__list {
            grid-template-columns: repeat(5, 185px);
        }
    }
}

@media (max-width: 1145px) {
    .main {
        .items {
            &__list {
                grid-template-columns: repeat(5, 150px);
                margin-left: 10px;

                &-item {
                    padding: 10px;

                    &-img {
                        width: 120px;
                        height: 120px;
                    }

                    &-status {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .main {
        .filters {
            &__divider {
                width: 180px;
            }

            &__price-body {

                .filters__price-inputleft,
                .filters__price-inputright {
                    width: 40px;
                    height: 17px;
                }
            }
        }

        .items {
            &__list {
                grid-template-columns: repeat(4, 148px);
                margin-left: 10px;

                &-item {
                    &:hover {
                        transform: scale(1) !important;
                        box-shadow: none;
                    }

                    &-img {
                        width: 120px;
                        height: 120px;
                    }

                    &-buy {
                        padding: 5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .main {
        .filters {
            display: none;
        }

        .slider {
            height: 120px;
        }

        .items {
            &__info {
                padding-top: 5px;

                &-filtersremove {
                    display: none;
                }

                &-addfilters {
                    width: 100px;
                    display: block;
                    border-radius: 8px;
                    padding: 2px;
                    border: 1px solid rgb(194, 194, 194);
                    margin: auto;
                    background-color: #cadd60;
                    cursor: pointer;

                    &:hover {
                        background-color: #d6dd93;
                    }
                }

                &-priceswitch {
                    padding: 3px;
                    font-size: 13px;
                }
            }

            &__list {
                grid-template-columns: repeat(3, 175px);
            }
        }
    }
}

@media (max-width: 576px) {
    .main {
        .slider {
            height: 90px;
        }

        .items {
            &__info {
                padding: 5px 5px 10px 15px;

                &-smallvh {
                    display: block;
                }

                &-total {
                    font-size: 12px;
                }

                &-filtersremove {
                    margin-left: 0px;
                    padding-top: 3px;
                }

                &-priceswitch {
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                }
            }

            &__list {
                margin-left: 2px;
                grid-template-columns: repeat(2, 155px);
                column-gap: 8px;
                row-gap: 5px;
            }

            &__addbtn {
                width: 110px;
                padding: 4px;
            }
        }
    }
}