.promos {
    padding: 10px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 550px);
        column-gap: 30px;
        row-gap: 15px;
    }


    &__img {
        display: block;
        width: 400px;
        height: 240px;
        margin: 0 auto;
        padding-bottom: 10px;
    }

    &__link {
        margin: auto;
        display: block;
        text-align: center;
        font-size: 18px;
        color: #E76F51;
        border-radius: 10px;
        border: 1px solid rgb(231, 167, 167);
        width: 260px;
        padding: 3px;

        &:hover {
            background-color: #E76F51;
            color: #ffff;
        }
    }

}